<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>equipos</title>
    <link rel="stylesheet" href="/static/estilo.css"/>   
    <script defer src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script defer src="/static/equipos.js"></script>
    <script>
        window.csrftoken = '{{ csrf_token }}';
    </script>
</head>
<body>
    <header>
        <nav id="container">
            <ul>
                <li><a href="/principal">Atrás</a></li>
                <li>
                    <a href="#">Ubicación</a>
                    <input type="text" id="direccion" placeholder="dirección" required=""> 
                </li>
                <li>
                    <a href="#">Fecha inicial</a>
                    <input type="date" id="inicio">
                </li>
                <li>
                    <a href="#">Fecha final</a>
                    <input type="date" id="fin">
                </li>
                <li>
                    <button onclick="alquilar(event)">Alquilar</button>
                </li>
            </ul>
        </nav>
    </header>
    <section class=" large-12 columns">
    <div class="row" id="equipos">
        
    </div>
    </section>
<footer class="footer">
    <text>
            <a href="#">Renta en línea</a>  <br />
            <a href="#">Comprar Computador</a>  <br />
            <a href="#">Consultar alquiler</a> 
    </text>
    <text>
        <a href="#">Solicitar crédito en línea</a> <br />
    </text>
    <text>
        <a href="#">Términos y condiciones</a> <br />
        <a href="#">Política de privacidad</a> <br />
        <a href="#">Política de cobranza</a> 
    </text>
    <text>
        <a href="#">Blog</a> <br />
        <a href="#">Aliados</a> <br />
        <a href="#">Preguntas frecuentes</a>
    </text> 
</footer>
</body>
</html>